<?xml version="1.0" encoding="UTF-8"?>
<config>

	<app>
		<title>Hello World</title>
		<machinename>hello_world_app</machinename>
	</app>

	<environment>
		<local>
			<srv>
				<server_name>it-as</server_name>
				<default_db>hello_world_db</default_db>
				<db_connector>
					<server>it-as\SQLEXPRESS</server>
					<driver>{SQL Server}</driver>
					<db>hello_world_db</db>
					<read>
						<user>hello_world_db_reader</user>
						<pass>12345</pass>
					</read>
					<write>
						<user>hello_world_db_writer</user>
						<pass>67890</pass>
					</write>
				</db_connector>
				<websocket>
					<server>127.0.0.1</server>
					<port>8000</port>
					<ssl>false</ssl>
				</websocket>
			</srv>
		</local>
		<dev>
			<srv>
				<server_name>it-as</server_name>
				<default_db>hello_world_db</default_db>
				<db_connector>
					<server>it-as\SQLEXPRESS</server>
					<driver>{SQL Server}</driver>
					<db>hello_world_db</db>
					<read>
						<user>hello_world_db_reader</user>
						<pass>12345</pass>
					</read>
					<write>
						<user>hello_world_db_writer</user>
						<pass>67890</pass>
					</write>
				</db_connector>
				<websocket>
					<server>127.0.0.1</server>
					<port>8000</port>
					<ssl>false</ssl>
				</websocket>
			</srv>
		</dev>
		<prod>
			<srv>
				<server_name>it-as</server_name>
				<default_db>hello_world_db</default_db>
				<db_connector>
					<server>it-as\SQLEXPRESS</server>
					<driver>{SQL Server}</driver>
					<db>hello_world_db</db>
					<read>
						<user>hello_world_db_reader</user>
						<pass>12345</pass>
					</read>
					<write>
						<user>hello_world_db_writer</user>
						<pass>67890</pass>
					</write>
				</db_connector>
				<websocket>
					<server>127.0.0.1</server>
					<port>8000</port>
					<ssl>false</ssl>
				</websocket>
			</srv>
		</prod>
	</environment>

</config>
