############
## OS
############
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store



############
## Netbeans
############
/nbproject/*



############
## IIS
############
/www/web.config



############
## AS
############
/cache/*
/var/tmp/*