<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
				<rule name="Fail bad requests" stopProcessing="true">
					<match url=".*" />
					<conditions>
                        <add input="{HTTP_HOST}" pattern="it-as" negate="true" />
					</conditions>
					<action type="AbortRequest" />
				</rule>
                <rule name="Pass Through" enabled="true" stopProcessing="true">
                    <match url="^/?(script|theme|test\.php)/?" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="Desktop" enabled="true" stopProcessing="true">
                    <match url="^([a-zA-z0-9-_][a-zA-z0-9-_\.]+)/?([a-zA-z0-9-_% \.]+)?/?([a-zA-z0-9-_% \.]+)?/?([a-zA-z0-9-_% \.]+)?/?([a-zA-z0-9-_% \.]+)?/?" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/index.php?mobile=false&amp;R1={R:1}&amp;R2={R:2}&amp;R3={R:3}&amp;R4={R:4}&amp;R5={R:5}" logRewrittenUrl="false" />
                </rule>
            </rules>
        </rewrite>
        <caching>
            <profiles>
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
